.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: $dark-blue;
    max-width: 50rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.modal__title {
    color: white;
    margin: 0 0 $m-size 0;
}

.modal__body {
    background: $off-white;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $l-size 0;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    text-decoration: none;

    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.modal__actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;

    // margin: $s-size $s-size;
}